.App {
  text-align: center;
}

.card{
  width: 17rem;
}

.img-overlay{
  position: absolute;
  width: 11rem;
  height: 11rem;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}

#root{
    background-color: #2D2B2C;
}